@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  width: 100%;
  height: 100vh;
  position: relative;
}


.decoration-yellow {
  color: #F9F871;
}

.decoration-green {
  color: #272E2B;
}

.bg-yellow {
  color: #F9F871;
}

.cursor-size {
  font-size: 5px;
}

.vertical {
  writing-mode: vertical-rl;
}

.height {
  height: 75%;
}

@keyframes moveSmallBar {
  0% {
    transform: scale(1, 0.1);
  }

  20% {
    transform: translate3d(0px, 160%, 0px) scale(1, 0.3)
  }

  40% {
    transform: translate3d(0px, 220%, 0px) scale(1, 0.5)
  }

  60% {
    transform: translate3d(0px, 280%, 0px) scale(1, 0.7)
  }

  80% {
    transform: translate3d(0px, 340%, 0px) scale(1, 0.9)
  }

  100% {
    transform: translate3d(0px, 400%, 0px) scale(1);
  }
}

.small-bar {
  animation: moveSmallBar 3s linear infinite;
}

.button-background {
  background-color: #3D4A3D;
}

.text-main {
  color: #272E2B;
}

.bg-main {
  background-color: #BCC6E9;
}