@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  width: 100%;
  height: 100vh;
  position: relative;
}


.decoration-yellow {
  color: #F9F871;
}

.decoration-green {
  color: #272E2B;
}

.bg-yellow {
  color: #F9F871;
}

.cursor-size {
  font-size: 5px;
}

.vertical {
  writing-mode: vertical-rl;
}

.height {
  height: 75%;
}

@keyframes moveSmallBar {
  0% {
    transform: scale(1, 0.1);
  }

  20% {
    transform: translate3d(0px, 160%, 0px) scale(1, 0.3)
  }

  40% {
    transform: translate3d(0px, 220%, 0px) scale(1, 0.5)
  }

  60% {
    transform: translate3d(0px, 280%, 0px) scale(1, 0.7)
  }

  80% {
    transform: translate3d(0px, 340%, 0px) scale(1, 0.9)
  }

  100% {
    transform: translate3d(0px, 400%, 0px) scale(1);
  }
}

.small-bar {
  animation: moveSmallBar 3s linear infinite;
}

.custom-shape-divider-bottom-1699729836 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom-1699729836 svg {
  position: relative;
  display: block;
  width: calc(167% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1699729836 .shape-fill {
  fill: #BCC6E9;
}

.button-background {
  background-color: #3D4A3D;
}

.text-main {
  color: #3D4A3D;
}

.bg-main {
  background-color: #BCC6E9;
}

.color-point {
  color: #65F8D8;
}

.typeit {
  color: #65F8D8;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.custom-shape-divider-top-1699730016 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1699730016 svg {
  position: relative;
  display: block;
  width: calc(167% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1699730016 .shape-fill {
  fill: #BCC6E9;
}

/** **/


.v-boxes {
  display: flex;
  flex-direction: column;
}

.v-boxes:not(:first-child) {
  margin-left: -75px;
}

.second {
  margin-top: 75px;
}

.third {
  margin-top: 150px;
}

.forth {
  margin-top: 225px;
}

.box {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  margin: 25px;
  cursor: pointer;
}

.box:hover:not(.link)>.box-face,
.box:hover>.box-back {
  transform: translateZ(100px) rotateX(180deg);
  background-color: transparent !important;
}

.box:hover:not(.link)>.box-face>.box-text {
  opacity: 0;
}

.box:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.box:hover.link>.box-face {
  background-color: transparent;
}

.box:hover.link>.box-face>.box-text {
  color: #323232;
}

.box.link>.box-face {
  background-color: #323232;
  border: 1px solid #323232;
  box-sizing: border-box;
  transition: background-color 0.5s;
}

.box.link .box-text {
  color: #efefef;
  transition: color 0.5s;
}

.box-face,
.box-back {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100px;
  height: 100px;
  background-color: #dedede;
  transform: rotate(90deg);
  transition: transform 1s, background-color 0s .3s;
}

.box-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-face .box-text {
  line-height: 100px;
  text-align: center;
  font-size: 40px;
  color: #bababa;
  transform: rotate(-135deg);
  transition: opacity 0s linear .3s;
}

.box-back .box-text {
  line-height: 100px;
  text-align: center;
  font-size: 12px;
  color: #636363;
  transform: rotate(-135deg) rotateY(180deg);
  transition: opacity 0s linear .3s;
}

.box-back {
  z-index: 0;
  background-image: linear-gradient(#fff, #efefef);
}

.box-text img {
  max-width: 32px;
  max-height: 32px;
  filter: grayscale(100%) saturate(0);
  opacity: .5;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 35px;
  width: 80px;
  font-size: 13px;
  color: #000;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, .8);
  padding: 5px 0;
  z-index: 1000;
  transform: rotate(-45deg);
  transition: visibility 0s linear .3s, opacity 1s linear .3s;
}

.tooltip:after {
  position: absolute;
  top: -5px;
  left: 35px;
  content: ' ';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}