@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-bg-color: #BCC6E9;
  --text-point-color: #65F8D8;
  --skill-main-color: #323232;
  --envoyer-btn-bg: #374151;
  --envoyer-btn-text: #fde047;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  width: 100%;
  height: 100vh;
  position: relative;
}

.bg-main {
  background-color: var(--main-bg-color);
}

.color-point {
  color: var(--text-point-color);
}

/* customize the size of cursor (Cursor.tsx) */
.cursor-size {
  font-size: 5px;
}

/* to have the text 'Scroll down' vertically (Scroll.tsx)*/
.vertical {
  writing-mode: vertical-rl;
}

/* Scroll down bar height and the animation (Scroll.tsx) */
.height {
  height: 75%;
}

@keyframes moveSmallBar {
  0% {
    transform: scale(1, 0.1);
  }

  20% {
    transform: translate3d(0px, 160%, 0px) scale(1, 0.3)
  }

  40% {
    transform: translate3d(0px, 220%, 0px) scale(1, 0.5)
  }

  60% {
    transform: translate3d(0px, 280%, 0px) scale(1, 0.7)
  }

  80% {
    transform: translate3d(0px, 340%, 0px) scale(1, 0.9)
  }

  100% {
    transform: translate3d(0px, 400%, 0px) scale(1);
  }
}

.small-bar {
  animation: moveSmallBar 3s linear infinite;
}

/*Navbar active color (NavBar.tsx)*/

.active {
  color: var(--text-point-color);
}

/*shape divider style (Home page.tsx)*/

.custom-shape-divider-bottom-1699729836 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom-1699729836 svg {
  position: relative;
  display: block;
  width: calc(167% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1699729836 .shape-fill {
  fill: var(--main-bg-color);
}

/*typeit style (Profile page.tsx)*/
.typeit {
  color: var(--text-point-color);
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/*shape divider style (Profile page.tsx)*/

.custom-shape-divider-top-1699730016 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1699730016 svg {
  position: relative;
  display: block;
  width: calc(167% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1699730016 .shape-fill {
  fill: var(--main-bg-color);
}

/*diamonds skills style (Skill.tsx)*/

.v-boxes:not(:first-child) {
  margin-left: -75px;
}

.box {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  margin: 25px;
  cursor: pointer;
}

.box:hover:not(.link)>.box-face,
.box:hover>.box-back {
  transform: translateZ(100px) rotateX(180deg);
  background-color: transparent !important;
}

.box:hover:not(.link)>.box-face>.box-text {
  opacity: 0;
}

.box:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.box:hover.link>.box-face {
  background-color: transparent;
}

.box:hover.link>.box-face>.box-text {
  color: var(--skill-main-color);
}

.box.link>.box-face {
  background-color: var(--skill-main-color);
  border: 1px solid var(--skill-main-color);
  box-sizing: border-box;
  transition: background-color 0.5s;
}

.box.link .box-text {
  color: #efefef;
  transition: color 0.5s;
}

.box-face,
.box-back {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100px;
  height: 100px;
  background-color: #dedede;
  transform: rotate(90deg);
  transition: transform 1s, background-color 0s .3s;
}

.box-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-face .box-text {
  line-height: 100px;
  text-align: center;
  font-size: 40px;
  color: #bababa;
  transform: rotate(-135deg);
  transition: opacity 0s linear .3s;
}

.box-back .box-text {
  line-height: 100px;
  text-align: center;
  font-size: 12px;
  color: #636363;
  transform: rotate(-135deg) rotateY(180deg);
  transition: opacity 0s linear .3s;
}

.box-back {
  z-index: 0;
  background-image: linear-gradient(#fff, #efefef);
}

.box-text img {
  max-width: 32px;
  max-height: 32px;
  filter: grayscale(100%) saturate(0);
  opacity: .5;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 35px;
  width: 80px;
  font-size: 13px;
  color: #000;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, .8);
  padding: 5px 0;
  z-index: 1000;
  transform: rotate(-45deg);
  transition: visibility 0s linear .3s, opacity 1s linear .3s;
}

.tooltip:after {
  position: absolute;
  top: -5px;
  left: 35px;
  content: ' ';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

/*Envoyer button hover (ContactForm.tsx)*/
.email-btn {
  background-color: var(--envoyer-btn-bg);
  color: var(--envoyer-btn-text);
  transition: all 0.5s linear;
}

.email-btn:hover {
  background-color: var(--envoyer-btn-text);
  color: var(--envoyer-btn-bg);
  transition: all 0.5s ease-in-out;
}


/*Fade-out animation for the result message (ContactForm.tsx)*/
.fade-out {
  animation: fadeOut 6s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/*CSS effect for the ProjectCard (ProjectCard.tsx)*/
.clicked {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.non-clicked {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.translate-active {
  transform: translateX(-580px);
  transition: all 0.6s ease-in-out;
}

.translate-inactive {
  transition: all 0.5s ease-in-out;
}

.project-wrapper:hover .project-img {
  transform: scale(1.1);
}

.project-img {
  transition: all 1.1s;
}